<div class="thumbnail movie-thumbnail">
    <div class="row">
        <div class="col-xs-4">
            <img alt="{{ movie.title }}" ng-src="{{ movie.thumbnail }}"/>
        </div>
        <div class="col-xs-8">
            <div class="caption">
                <h3 ng-bind="movie.title"></h3>
                <p ng-bind="(movie.overview | limitTo:limit) + (movie.overview.length > limit ? '...' : '')"></p>
                <p><a ui-sref="app.movie.show({id:movie.id})" class="btn btn-primary" role="button">Read more</a>
                </p>
            </div>
        </div>
    </div>
</div>