<header class="navbar navbar-default">
    <nav class="container">
        <div class="navbar-header"><a ui-sref="app.index" class="navbar-brand">Boilerplate</a></div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="app.index">Home</a></li>
            <li><a ui-sref="app.post">Posts</a></li>
            <li><a ui-sref="app.movie">Movies</a></li>
        </ul>
        <aside class="navbar-header pull-right">
            <span class="navbar-brand" href="#" ng-bind="username"></span>
        </aside>
    </nav>
</header>